In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

In [ ]:
df = pd.read_csv(r"assets/files/datasets/2023_24_penalty_stats_python.csv")

NameError: name 'pd' is not defined

In [ ]:

df = pd.read_csv("C:/Users/eoind/OneDrive/Documents/2023_24_penaltystats_python.csv")

df.head(5)

,Rk,Player,Gls,Min,PK,PKatt,PKm,Ast,PKwon,xAG,...,Age,Nation,Team,Comp,MP,xPwG,G-PK+xPwg,G-PK+xPwG+A,G-PK+xPwG+xAG,G-PK+xPwG+xAG/90
0,20,Anthony Gordon,11,2890,1,1,0,10,6,8.0,...,22,eng ENG,Newcastle Utd,eng Premier League,35,5.4,15.4,25.4,23.4,0.73
1,41,Raheem Sterling,8,1978,0,0,0,4,3,4.5,...,28,eng ENG,Chelsea,eng Premier League,31,2.7,10.7,14.7,15.2,0.69
2,26,Diogo Jota,10,1145,0,0,0,3,2,3.3,...,26,pt POR,Liverpool,eng Premier League,21,1.8,11.8,14.8,15.1,1.19
3,1,Erling Haaland,27,2552,7,8,1,5,2,4.3,...,23,no NOR,Manchester City,eng Premier League,31,1.8,21.8,26.8,26.1,0.92
4,4,Ollie Watkins,19,3217,0,0,0,13,2,7.3,...,27,eng ENG,Aston Villa,eng Premier League,37,1.8,20.8,33.8,28.1,0.79